.hero
	&__grid
		margin-top: 40px
		display: grid
		grid-template-columns: 40% 50%
		align-items: center
		@include _480
			grid-template-columns: 1fr
	&__image
		width: 50vw
		position: relative
		right: 80px
		@include _480
			width: 100vw
			display: block
			margin: 0 auto
	&__text
		position: relative
		right: 70px
		@include _768
			right: 0
		span
			opacity: 0.5
